# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [ ]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [10]:
# get a list containing the last 3 elements of a
a = [1, 2, 3, 4, 5, 6]
a[3:]
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

[4, 5, 6]

In [5]:
# create a list of numbers from 1 to 20
sample_list = list(range(20))

In [9]:
# now get a list with only the even numbers between 1 and 100
sample_list = list(range(102))
sample_list[::2]
# you may or may not make use of the list you made in the last cell

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# write a function that takes two numbers as arguments
# and returns the first number divided by the second
x = input("enter your first number")
y = input("enter your second number")

(x)= int (one_function)
(y) = int (two_function)

print(one_function/two_function)

In [6]:
# write a function that takes a string as input
# and return that string in all 
type("hello")
"hello".upper()

'HELLO'

In [17]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the 

nums = list(range(30))

for i in range(len(nums)):
    if nums[i] % 3 == 0:
        print("fizz")
    elif nums[i] % 5 == 0:
        print("buzz")
    elif( nums[i] % 5 and nums[i] % 3 == 0):
        print("fizzbuzz")
    else:
        print (i)

fizz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29

In [20]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu_pricing = {"Gyro":9.00, "Burger":9.00, "Greek Salad":8.00, "Philly Steak":10.00}
menu_pricing.items()

dict_items([('Gyro', 9.0), ('Burger', 9.0), ('Greek Salad', 8.0), ('Philly Steak', 10.0)])

In [23]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
df = pd.read_cvs("../data/starbucks.csv")
type(df)

NameError: name 'pd' is not defined

In [22]:
# output the calories, sugars, and protein columns only of every 40th row.
df.iloc[40]
df.loc["calories"]["sugars"]["protein"]

NameError: name 'df' is not defined

In [ ]:
# select all rows with more than and including 400 calories
df[df["calories"] > 400]

In [ ]:
# select all rows whose vitamin c content is higher than the iron content
df[df["Vitamin C"] > df["Iron"]

In [ ]:
# create a new column containing the caffeine per calories of each drink
df["caffeine_per_calories"] = df["Caffeine"] / df["Calories"]
df_.head()

In [ ]:
# what is the average calorie across all items?
Beverage["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
Beverage_category = df.groupby("Beverage")

In [ ]:
# what is the average # calories for each beverage category?
Beverage_Category["calories"].mean()